<!-- register.html -->
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2 class="my-4">Sign In</h2>
<form action="{{ url_for('login') }}" method="post" class="needs-validation" novalidate>
    {{ form.hidden_tag() }}
    <div class="mb-3">
        <label class="form-label">{{ form.username.label }}</label>
        {{ form.username(class="form-control") }}
        {% for error in form.username.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label class="form-label">{{ form.password.label }}</label>
        {{ form.password(class="form-control") }}
        {% for error in form.password.errors %}
            <div class="text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    <small>Forget password? <a href="{{url_for('reset_password_request')}}">Reset Password</a>
    <div class="mb-3">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% endblock %}
